<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center flex-column">


<h2 class="title">Closest</h2>
<%= render 'shared/featured-kebab-card', kebab: @near_kebab.first %>

<h2 class="title">Cheapest</h2>
<%= render 'shared/featured-kebab-card', kebab: @cheapest_kebab %>

<h2 class="title">Top Rated</h2>
<%= render 'shared/featured-kebab-card', kebab:  @review_kebab %>

<br>
<br>
<br>
<br>
<br>

    </div>
  </div>
</div>

<div class= "see-all-kebabs-button"><%= link_to 'See All Kebabs', kebab_shops_path, class: "all-kebabs"%></div>
<%=  render 'shared/footer' %>
