<%= render 'shared/navbar' %>

<%= link_to "Sort by price", kebabs_path(filter: :price) %>
<%= link_to "Sort by distance", kebabs_path(filter: :distance) %>
<%= link_to "Sort by rating", kebabs_path(filter: :rating) %>

<h1 class=text-center>Kebab Shops</h1>

<div class="container">
  <div class="row">
      <% @kebab_shops.each do |kebab| %>
        <div class="col-12 col-lg-6">
          <%= render 'shared/kebab-card', kebab: kebab %>
        </div> <!-- end of col -->
      <% end%>



      <div id="map" style="width: 100%; height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div> <!-- end of row -->
</div> <!-- end of container -->


<%=  render 'shared/footer' %>

<%= javascript_pack_tag "get-user-location" %>

