<%= render 'shared/navbar' %>

<div id = "full-screen" style="height: 100%; width: 100%;">
     <%= render 'shared/colour-filter' %>
    <div id="kebab-row">
        <% if !@kebab_search.empty? %>
          <% @kebab_search.each do |kebab| %>
            <div class="d-flex justify-content-center flex-column align-items-center">
              <%= render 'shared/kebab-card', kebab: kebab %>
            </div> <!-- end of col -->
        <!-- end of col -->
          <% end%>
        <% else %>
          <% @kebab_shops.each do |kebab| %>
            <div class="d-flex justify-content-center flex-column align-items-center">
              <%= render 'shared/kebab-card', kebab: kebab %>
            </div> <!-- end of col -->
          <% end%>
        <% end %>
    </div>


  <% if @kebab_search %>
     <% @kebab_search.map(&:name).join(" - ")  %>
  <% end %>
    <%= render 'shared/search_button' %>
    <div id="map" style="width: 390px; height: 390px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  <div>
    <%=  render 'shared/footer' %>
    <%= javascript_pack_tag "get-user-location" %>

  </div>
</div>
