<%= render 'shared/navbar' %>

<h1><%= cookies[:anna] %></h1>

<h1 class=text-center>Kebab Shops</h1>

<div class="container">
  <div class="row">
      <% @kebab_shops.each do |kebab| %>
        <div class="col-12 col-lg-3">
          <%= render 'shared/kebab-card', kebab: kebab %>
        </div> <!-- end of col -->
      <% end%>
  </div> <!-- end of row -->
</div> <!-- end of container -->

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div id="map" style="width: 100%; height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<%=  render 'shared/footer' %>

<%= javascript_pack_tag "get-user-location" %>
