<%= render 'shared/navbar' %>



<h1><%= @kebab_shop.name %></h1>

<h1>Closing time = <%= @week_day.closing_hour %>:00 </h1>

<%= cl_image_tag @kebab_shop.photo, height: 300, width: 400, crop: :fill %>


<h3> full address  : <%= @kebab_shop.address  %> </h3>
<h3> address       : <%= @street %> </h3>
<h3> street number : <%= @street_number %> </h3>
<h3> postal code   : <%= @postal_code  %> </h3>
<h3> city          : <%= @city %> </h3>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div id="map" style="width: 100%; height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<ul>
  <% @kebab_shop.reviews.each do |review| %>
  <ul> user : <%= review.user %> rating : <%= review.rating %>   </ul>
  <% end %>
</ul>
<h3> rating average : <%=  @average_rating %> </h3>
<%= render "shared/review-form" %>
<%=  render 'shared/footer' %>

