<%= render 'shared/navbar' %>
<!--   <div id="map" style="width: 100%; height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div> -->
<div class="background-featured">
<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h2 class="kebab-font text-center"><%= @kebab_shop.name %> </h2>
       <div class="showpage-distance"> only <%= (Geocoder::Calculations.distance_between([@kebab_shop.latitude, @kebab_shop.longitude], [55.6915195,12.5574414]) * 1609.34).round(0)  %>m away!</div>
      <div class="directions-button-container">
      <%= link_to "https://www.google.com/maps?saddr=Ahornsgade+15,+2200+København&daddr=#{@kebab_shop.address}", id: "directions-button-container" do %>
        <h4 class="directions-button">Take me there</h4>
  <% end %></div>
      <div class="height-width" style="background-image: linear-gradient(rgba(251,117,37,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @kebab_shop.photo, crop: :fill %>)"><h4 class="texty">Closing at <%= "%02d" %  @week_day.closing_hour %>:00</h4>
      </div>
      <br>
      <% if !@kebab_shop.menus.empty?%>
        <%= render "shared/menu-kebab" %>
      <% end %>
     </h3>
      <br>
      <%= render "shared/review-form" %>
    </div>
  </div>
</div>
      <%= link_to kebab_shops_path, id: "back-icon" do %>
  <i class="fas fa-arrow-left mt-3" ></i><% end %>
<%=  render 'shared/footer' %>
</div>
