<%= render 'shared/navbar' %>
  <div id="map" style="width: 100%; height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<div class="background-featured">
<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h3 class="kebab-font mt-3 text-center"><%= @kebab_shop.name %></h3>
      <h4 class="text-center font-style">Closes at: <%= @week_day.closing_hour %>:00 </h4>
      <div class="height-width" style="background-image: linear-gradient(rgba(251,117,37,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @kebab_shop.photo, crop: :fill %>)">
      </div>
      <p class="text-center font-style"><strong> <%= @kebab_shop.address  %> </strong></p>
      <p class="text-center"><strong> <%= @kebab_shop.rating.to_s  %> </strong></p>

      <ul>
        <% @kebab_shop.reviews.each do |review| %>
        <ul> user : <%= review.user %> rating : <%= review.rating %>   </ul>
        <% end %>
      </ul>
      <h3 class="text-center font-style"> Average Rating :
       <% if @kebab_shop.rating == 0 %>
          No review!
       <% else %>
        <%=  @kebab_shop.rating %>
       <% end %>
     </h3>
      <br>
      <%= render "shared/review-form" %>
    </div>
  </div>
</div>
      <%= link_to kebab_shops_path, id: "back-icon" do %>
  <i class="fas fa-arrow-left mt-3" ></i><% end %>
<%=  render 'shared/footer' %>
</div>
