<% week_day = kebab.schedules.find_by(weekday: @day_today) %>

<div class="kebapp-card">
        <input type="checkbox" id="card<%= kebab.id %>" class="more" aria-hidden="true">
          <div class="kebabcard-content">
            <div class="front" style="background-image: linear-gradient(rgba(251,117,37,0.3), rgba(0,0,0,0.2)), url('<%=    cl_image_path kebab.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="inner">
            <div class="text-center">
          <label for="card<%= kebab.id %>" class="button" aria-hidden="true">
        <h2 class="kebapp-store-name"><strong><%= kebab.name %></strong></h2>

    </label>
                  <div class="flip-card-rating d-flex justify-content-center">
                    <% (1..5).each do |value|%>
                      <% if value <= kebab.rating %>
                        <i class="fas fa-star"></i>
                          <% else %>
                        <i class="fa fa-star-o"></i>
                      <% end %>
                    <% end %>
                   <!-- <i class="fas fa-star-half-alt"></i> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="back text-center">
              <div class="inner">
                <div class="kebapp-card-text">
                  <p class="kebapp-name-of-store"><%=kebab.name %></p>
                    <p class="kebapp-card-hours">Opening Hours: <%= kebab.opening_hours_today %></p>
                      <p class="kebapp-card-distance">500m away</p>
                         <%= link_to "Show Location", kebab_shop_path(kebab), class: "btn btn-info"  %> <br>
                        <label for="card<%= kebab.id %>" class="flip-button flip-return" aria-hidden="true">
                    <i class="fas fa-arrow-left"></i>
                  </label>
                </div>
              </div>
            </div>
        </div>
      </div>
<%= link_to kebab_shop_path(kebab) do %>
<div class="box-wrapper mt-3 hvr-bounce-out">
  <span class="price"><%= kebab.price.round(0) %> kr</span>
  <div class="desc"> Closing at: <%= week_day.closing_hour %>:00 </div>
  <%= cl_image_tag kebab.photo, class: "kebabphoto" %>
  <div class="box-content d-flex flex-row justify-content-center">
    <div class="title"><%= kebab.name %></div>
    <div class="anna-rating-index-page d-flex justify-content-center">
    <% (1..5).each do |value|%>
      <% if value <= kebab.rating %>
        <i class="fas fa-star"></i>
      <% else %>
        <i class="fa fa-star-o"></i>
      <% end %>
    <% end %>
<!-- <i class="fas fa-star-half-alt"></i> -->
  </div>
    <div class="distance"><%= (Geocoder::Calculations.distance_between([kebab.latitude, kebab.longitude], [55.6915195,12.5574414]) * 1609.34).round(0)  %>m away </div>
    <%= link_to "https://www.google.com/maps?saddr=My+Location&daddr=#{kebab.address}", id: "google-directions" do %>
  <i class="fas fa-directions"></i>
<% end %>
  </div>
</div>
<% end  %>

